<!DOCTYPE html>
<html>

<style>
.hero-section {
    min-height: 85vh;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.hero-overlay {
    background: rgba(0, 0, 0, 0.55);
    min-height: 85vh;
    border-radius: 20px;
}
</style>

<head>
    <title>Sistema de Reservas Pádel</title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
    >
</head>

<body>

   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="{% url 'inicio'%}">
            🎾 Pádel Reservas
        </a>

        <div class="navbar-nav">
            <a class="nav-link" href="{% url 'lista_reservas' %}">
                Ver Reservas
            </a>

            <a class="nav-link" href="{% url 'crear_reserva' %}">
                Nueva Reserva
            </a>

        {% if user.is_authenticated %}

    <span class="navbar-text me-3">
        Hola, {{ user.username }}
    </span>

    <form
        method="post"
        action="{% url 'logout' %}"
    >
        {% csrf_token %}

        <button
            type="submit"
            class="btn btn-outline-light btn-sm"
        >
            Cerrar sesión
        </button>
    </form>

{% else %}

    <a
        class="nav-link"
        href="{% url 'login' %}"
    >
        Iniciar sesión
    </a>

     <a
        class="nav-link"
        href="{% url 'registro' %}"
    >
        Registrarse
    </a>

{% endif %}
        </div>

    </div>
</nav>


    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

</div>

{% block content %}
{% endblock %}

</div>

</body>
</html>